<input type="submit" ng-click="delete('Users',currentUser)" value="Supprimer Utilisateur" />
<div class="jumbotron">
  <section class="row">
    <div class="col-xs-8"><h1><input type="text" ng-model="currentUser.name" required /> <input type="text" ng-model="currentUser.surname" required /></h1></div>
  </section>
</div>
<section class="row">
  <ul>
    <span class="ad glyphicon glyphicon-home"></span>  <input type="text" ng-model="currentUser.adress" /><br/>
    <span class="glyphicon glyphicon-sunglasses"></span> <input type="mail" ng-model="currentUser.email" /><br/>
    <span class="glyphicon glyphicon-phone"></span>  <input type="text" ng-model="currentUser.numberPhone" /></li><br/>
    <span class="glyphicon glyphicon-plane"></span>   <input type="text" ng-model="currentUser.website" /></li><br/>
  </ul>
</section>
<input type="submit" ng-click="updateUser(currentUser)" value="Save" />
<div class="row">

  <h3>Formation :</h3>
  <div class="row" ng-repeat="etab in userFormation">
    <h4>{{etab.title}} : <small>{{etab.year}}</small>    <input type="submit" ng-click="delete('Formations',etab)" value="Supprimer" />
    </h4>
    <br/>
    <p class= "col-xs-8">{{etab.description}}</p>
  </div>
  <input type="submit" ng-click="ajoutChamp('showFormation')" value="Ajouter une formation" />
  <form ng-show="showFormation">
    Etablissement : <input type="text" ng-model="formation.title" required/> <br />
    Description : <input type="text" ng-model="formation.description" /> <br />
    Année : <input type="text" ng-model="formation.year"/> <br />
    <input type="submit" ng-click="createFormation(formation)" value="Valider" />

  </form>
</div>


    <div class="row">
      <h3>Competence :</h3>
      <div class="row" ng-repeat="skill in userSkill">

        <h3>{{skill.name}} <input type="submit" ng-click="delete('Skills',skill)" value="Supprimer" /></h3>
        <div ng-init="getCompet(skill)">
        <div class="chosure col-xs-6" ng-repeat="info in skillCompet">
          <h5>{{info.name}}</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{info.note}}">
              <span class="sr-only">{{info.note}} Complete (success)</span>
            </div>
          </div>


          </div>
          <input type="submit" ng-click="ajoutChamp('showCompet')" value="Ajouter une competence" />
          <div ng-show="showCompet">
            Nom  : <input type="text" ng-model="compet.name" /> <br />
            Note (%)  : <input type="text" ng-model="compet.note" /> <br />

            <input type="submit" ng-click="createComp(compet,skill)" value="Valider" />
        </div>
      </div>
        </div>
      <input type="submit" ng-click="ajoutChamp('showSkill')" value="Ajouter un domaine de compétence" />
      <div ng-show="showSkill">
        Nom du domaine : <input type="text" ng-model="skill.name" /> <br />

        <input type="submit" ng-click="createSkill(skill)" value="Valider" />

      </div>
    </div>

    <div class="row">
      <h3>Experience :</h3>

      <div class="row" ng-repeat="exp in userExp">
        <h4>{{exp.title}}
          <small>{{exp.year}}</small> <input type="submit" ng-click="delete('Experiences',exp)" value="Supprimer" /></h4>
        <p class= "col-xs-8">{{exp.description}}</p>
      </div>
      <input type="submit" ng-click="ajoutChamp('showExperience')" value="Ajouter une experience" />
      <div ng-show="showExperience">
        Etablissement : <input type="text" ng-model="experience.title" /> <br />
        Description : <input type="text" ng-model="experience.description" /> <br />
        Année : <input type="text" ng-model="experience.year"/> <br />
        <input type="submit" ng-click="createExp(experience)" value="Valider" />

      </div>
    </div>


        <div class="row">
          <h3>Projet réalisé :</h3>

          <div class="row" ng-repeat="proj in userProject">
            <h4>{{proj.title}}
              <small>
                {{proj.year}}</small> <input type="submit" ng-click="delete('Projects',proj)" value="Supprimer" /></h4>
            <p class= "col-xs-8">{{proj.description}}</p>

          </div>
          <input type="submit" ng-click="ajoutChamp('showProject')" value="Ajouter un projet" />
          <div ng-show="showProject">
            Titre : <input type="text" ng-model="project.title" /> <br />
            Description : <input type="text" ng-model="project.description" /> <br />
            Année : <input type="text" ng-model="project.year"/> <br />
            <input type="submit" ng-click="createProject(project)" value="Valider" />

          </div>

        </div>
